<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista</title>
</head>
<body>
    <a href="{%url 'delete_produto_all'%}">Deletar Lista</a>
    <a href="{%url 'cadastro'%}">Novo item</a>
    <div class="lista">
        <ol>
            {%for lista in lista%}
                 <li>
                     <a href="{%url 'delete_produto' lista.id%}">Delete</a>
                     <input type="checkbox">
                     <a href="{%url 'update_produto' lista.id %}">{{lista}}</a><br>
                     <a href="{%url 'cadastro_valor'%}">Valor:</a>
                 </li>
            {%endfor%}
          </ol>

        <ol>
            {%for valor in valor%}
                <li><a href="{%url 'delete_valor' valor.id%}">--></a>R${{valor.valor}}</li><br>
            {%endfor%}
        </ol>
    </div>
<p>-----------------------------------------------------------------</p>

        {{total}}

</body>
</html>