body{
    background-color: #2ef8a0;
}

form{
    display: flex;
    flex-direction: column;
    margin: 100px 500px;

}
a{
    text-decoration: none;
}
button{
    display: flex;
    margin: 10px;

}
input:hover{
    color:#003785;
    border-size: 5px;
}

.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.formulario{
     padding: 20px;
     box-shadow: 3px 3px 5px 5px #474b4e;
}