


        {% load static %}

        <link rel="stylesheet" href="{% static '\css\cadastro.css' %}">

            {% block content %}
                {% include 'titulo.html' %}
                <div class="cadastro">
                    <h2>Cadastre</h2>
                    <form action="." method="POST">{% csrf_token %}
                        {{ form }}
                        <button type="submit">Enviar</button>
                        <button type="button"><a href="{% url 'inicio' %}">Cancelar</a></button>
                    </form>
                </div>
            {% endblock %}